.category-list-container {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  padding: 8px;
  background-color: #BA55D3;
  overflow-x: scroll;
}

.menu-item-list-container {
  position: absolute;
  top: 15vh;
  width: 100vw;
  margin: auto;
  padding: 8px;
}

.category-card {
  &:first-child {
    border-left: none;
  }
  padding: 8px;
  height: fit-content;
  border-right: 1px solid rgb(30, 30, 30);
  border-left: 1px solid rgb(30, 30, 30);
  &:last-child {
    border-right: none;
  }
}

.order-list-button {
  position: fixed;
  bottom: 20px;
  right: 35px;
  font-size: 40px;
}

.restaurant-header {
  display: flex;
  justify-content: center;
  background-color: #BA55D3;
}

.category-card.active {
  h5 {
    font-weight: bolder;
  }
}

.menu-item-card {
  border-radius: 8px;
  width: 95vw;
  height: 30vh;
  margin-bottom: 16px;
  .menu-item-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 70%;
    width: 100%;
    object-fit: cover;
  }
  .menu-item-rating {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 4px;
    bottom: 70%;
  }
  .menu-item-info {
    position: relative;
    bottom: 15%;
    padding: 0px 8px 8px 8px;
    display: flex;
    p {
      margin-bottom: 4px;
    }
    .menu-item-info-details {
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .menu-item-info-price {
      display: flex;
      flex-direction: column;
    }
  }
  .order-button {
    display: none;
  }
}

.menu-item-card.active {
  height: fit-content;
  .menu-item-rating {
    position: static;
    padding-right: 4px;
  }
  .menu-item-info {
    position: static;
  }
  .order-button {
    display: block;
  }
  .menu-item-info-details {
    p {
      overflow: visible;
      white-space: normal;
      text-overflow: clip;
    }
  }
}

.menu-item-card:last-child {
  margin-bottom: 80px;
}

.order-item-card {
  margin-bottom: 16px;
  p {
    margin-bottom: 4px;
  }
}

@media (min-height: 300px) and (max-height: 700px) {
  .menu-item-card {
    .menu-item-info {
      .menu-item-info-details {
        .description {
          display: none;
        }
      }
    }
  }
  .menu-item-card.active {
    .menu-item-info {
      .menu-item-info-details {
        .description {
          display: block;
        }
      }
    }
  }
}
