.category-list-container {
  display: flex;
  height: 10vh;
  width: 100vw;
  padding: 8px;
  background-color: #BA55D3;
  overflow-x: scroll;
}

.menu-item-list-container {
  height: 85vh;
  width: 100vw;
  margin: auto;
  padding: 8px;
  background-color: rgb(250, 250, 250);
}

.category-card {
  &:first-child {
    border-left: none;
  }
  padding: 8px;
  height: fit-content;
  border-right: 1px solid rgb(30, 30, 30);
  border-left: 1px solid rgb(30, 30, 30);
  &:last-child {
    border-right: none;
  }
}

.order-list-button {
  position: fixed;
  bottom: 20px;
  right: 35px;
  font-size: 40px;
}

.restaurant-header {
  display: flex;
  justify-content: center;
  background-color: #BA55D3;
}

.category-card.active {
  h5 {
    font-weight: bolder;
  }
}

.menu-item-card {
  border-radius: 8px;
  width: 95vw;
  height: 30vh;
  margin-bottom: 16px;
  .menu-item-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .menu-item-info {
    padding: 8px;
    display: flex;
    p {
      margin-bottom: 4px;
    }
    .menu-item-info-details {
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .menu-item-info-price {
      display: flex;
      flex-direction: column;
    }
  }
  .order-button {
    display: none;
  }
}

.menu-item-card.active {
  height: 40vh;
  .order-button {
    display: block;
  }
  .menu-item-info-details {
      p {
        overflow: visible;
        white-space: normal;
        text-overflow: clip;
      }
    }
}
