<h3>menu items</h3>
<div class="row">
  <% @menu_items.each do |item| %>
    <div class="col-3 py-2">
      <p><b><%= item.name %></b></p>
      <p><%= item.description %></p>
      <p><%= item.category %></p>
      <p>¥<%= item.price %></p>
    </div>
  <% end %>
</div>
