<% orders.each do |order| %>
  <div class="table-row">
    <div class="table-cell"><%= link_to order.table, order_path(order) %></div>
    <div class="table-cell">¥<%= order.total_price %></div>
    <div class="table-cell"><%= order.order_items.count %></div>
    <div class="table-cell">
      <%= link_to order_path(order), remote: true, method: :patch do %>
        <div class="btn btn-primary btn-sm">
          <p>Paid</p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
