<h1>Create a new customer!</h1>
<%= render 'form' %>

<h1 class="pt-3">Customers</h1>

<table class="customer-table">
  <tr>
    <th>Table</th>
    <th>Total Price</th>
    <th>Number of Items</th>
    <th>Controls</th>
  </tr>
  <%= render 'orders', orders: @orders %>
</table>
