<h1>Create a new customer!</h1>
<%= render 'form' %>

<h1 class="pt-3">Customers</h1>

<div class="customer-table">
  <div class="table-row">
    <div class="table-header">Table</div>
    <div class="table-header">Total Price</div>
    <div class="table-header">Number of Items</div>
    <div class="table-header">Controls</div>
  </div>
  <%= render 'orders', orders: @orders %>
</div>
