<table class="order-table">
  <tr>
    <th>Table</th>
    <th>Status</th>
    <th>Paid?</th>
    <th>Dish</th>
    <th>Price</th>
    <th>Created</th>
  </tr>
  <%= render 'order_items', order_items: @order_items %>
</table>
