<div class="order-container">
  <% @orders.each do |order| %>
    <div class="order-table col-5">
      <div class="table-head">
        <div class="table-row">
          <div class="table-header-long"> <%= link_to "Table: #{order.table}", order_path(order) %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Dish</div>
          <div class="table-header">Updated</div>
          <div class="table-header">Status</div>
        </div>
      </div>
      <div class="table-body" id="orders" data-order-id="<%= order.id %>">
        <% order.order_items.order(updated_at: :desc).limit(15).each do |item| %>
          <%= render 'order_item', item: item, control: false %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
