<div class="order-container">
  <% @orders.each do |order| %>
    <table class="order-table">
      <thead>
        <tr>
          <th colspan="3"> <%= link_to "Table: #{order.table}", order_path(order) %></th>
        </tr>
        <tr>
          <th>Dish</th>
          <th>Updated</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="orders" data-order-id="<%= order.id %>">
        <% order.order_items.order(updated_at: :desc).limit(15).each do |item| %>
          <%= render 'order_item', item: item, control: false %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
