.display-container {
  position: absolute;
  right: 0;
  width: 75%;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.customer-order-container {
  text-align: center;
}
