.my-navbar {
  position: fixed;
  padding: 32px;
  width: 25%;
  height: 100vh;
  background-color: pink;
  .user-profile {
    .user-image {
      display: flex;
      justify-content: center;
      padding-bottom: 8px;
    }
  }
  .my-nav-item {
    text-align: center;
    padding-bottom: 16px;
    .my-nav-link > i {
      padding: 16px;
      font-size: 24px;
      color: black;
    }
  }
  .app-nav {
    display: flex;
    flex-direction: column;
  }
  .app-nav > a {
    font-size: 60px;
    padding: 24px;
    border-radius: 5%;
    &:hover {
      cursor: pointer;
    }
  }
}
