.order-table {
  border: 1px solid black;
  margin: 32px 16px 16px 16px;
  height: 600px;
  .table-header-long {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .table-header {
    text-align: center;
    font-weight: bold;
    width: 33%;
  }
  .table-row {
    display: flex;
    vertical-align: top;
    height: fit-content;
    .table-cell {
      white-space: nowrap;
      width: 33%;
      text-align: center;
      height: fit-content;
      padding: 4px 4px 4px 4px;
      p {
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .btn > p {
    margin-bottom: 4px;
  }
}

.customer-table {
  margin-top: 32px;
  width: 100%;
  .table-header {
    text-align: center;
    font-weight: bold;
    width: 25%;
  }
  .table-row {
    display: flex;
    vertical-align: top;
    height: fit-content;
    .table-cell {
      white-space: nowrap;
      width: 25%;
      text-align: center;
      height: fit-content;
      padding: 4px 4px 4px 4px;
      p {
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .btn > p {
    margin-bottom: 4px;
  }
}
