.order-table {
  margin-top: 32px;
  width: 50%;
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  .btn > p {
    margin-bottom: 4px;
  }
}

.customer-table {
  margin-top: 32px;
  width: 100%;
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  .btn > p {
    margin-bottom: 4px;
  }
}
